@model Movie
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Movie Checkout";
}

<h1>Movie Checkout</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Runtime (minutes)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Id
            </td>
            <td>
                @Model.Title
            </td>
            <td>
                @Model.Genre
            </td>
            <td>
                @Model.Runtime
            </td>
        </tr>
    </tbody>
</table>

<p>Are you sure you would like to checkout this movie?</p>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("CheckoutMovie", "Movie", Model)'">Yes</button>
<button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("MovieList", "Movie")'">No</button>

