@model IEnumerable<Lab24_Moviestore.Models.MovieCheckoutData>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Movie List";
}

<h1>Movie List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                Runtime (minutes)
            </th>
            <th>
                Available for Checkout/Return Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Movies.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Movies.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Movies.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Movies.Runtime)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (movie.IsCheckedOut)
                        {
                            @Html.DisplayFor(modelItem => movie.DueDate)
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Checkout", "Movie", movie.Movies)'">Checkout</button>
                        }

                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <p>Please login to checkout</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>